@model IEnumerable<PruSignFrontEnd.Models.SystemLog>

@{
    ViewBag.Title = "System Logs";
}

<h2>System Logs</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchText")
        <input type="submit" value="Search" />
    </p>
}

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {

        <div class="list-item">
            <div>
                <span><strong>@Html.DisplayNameFor(model => model.FormattedCreateDate)</strong></span>
                <span>@Html.DisplayFor(modelItem => item.FormattedCreateDate)</span>
            </div>
            <div>
                <span><strong>@Html.DisplayNameFor(model => model.ErrorLocation)</strong></span>
                <span>@Html.DisplayFor(modelItem => item.ErrorLocation)</span>
            </div>
            <p>
                <strong>@Html.DisplayNameFor(model => model.StackTrace)</strong>
            </p>
            <p>@Html.DisplayFor(modelItem => item.StackTrace)</p>
            <div class="line-separator"></div>
        </div>
    }
}
else
{
    <p>There is no data to display</p>
}
