@model PruSignFrontEnd.ViewModels.SignatureViewModel

@{
    ViewBag.Title = "Details";
}
<div class="col-lg-12">
    <h2>Details</h2>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<div class="signature-container">
    <div class="col-lg-6 col-lg-8">
        <img class="signature-picture" src="@Url.Action("RenderImage", new { id = Model.ID})" />
    </div>
    <div class="col-md-6 col-lg-4">
        <p class="sign-label"><strong>@Html.DisplayNameFor(model => model.Created)</strong></p>
        <p> @Html.DisplayFor(model => model.Created)</p>
        <p class="sign-label"><strong>@Html.DisplayNameFor(model => model.CustomerName)</strong></p>
        <p> @Html.DisplayFor(model => model.CustomerName)</p>
        <p class="sign-label"><strong>@Html.DisplayNameFor(model => model.CustomerId)</strong></p>
        <p> @Html.DisplayFor(model => model.CustomerId)</p>
        <p class="sign-label"><strong>@Html.DisplayNameFor(model => model.DocumentId)</strong></p>
        <p> @Html.DisplayFor(model => model.DocumentId)</p>
        <p class="sign-label"><strong>@Html.DisplayNameFor(model => model.ApplicationId)</strong></p>
        <p> @Html.DisplayFor(model => model.ApplicationId)</p>
    </div>
</div>




