@model IEnumerable<PruSignBackEnd.ViewModels.DeviceQueryViewModel>

@{
    ViewBag.Title = "Device Questions & Answers";
}

<h2>Questions And Answers for @ViewBag.SelectedUser</h2>
<div class="ddbutton-container">
    <div id="AddNewQuery" class="ddbutton">
        <a href="@Url.RouteUrl("createDeviceQuery", new RouteValueDictionary(new {User = @ViewBag.SelectedUser}))">
            Send Question
        </a>
    </div>
</div>

@if (Model.Any())
{
    <div id="deviceQueriesContainer">
        @foreach (var item in Model)
        {
        <div class="list-item">
            <div>
                <span><strong>@Html.DisplayNameFor(model => model.Created)</strong></span>
                <span>@Html.DisplayFor(modelItem => item.Created)</span>
            </div>
            <div>
                <span><strong>@Html.DisplayNameFor(model => model.QuestionDescription)</strong></span>
                <span>@Html.DisplayFor(modelItem => item.QuestionDescription)</span>
            </div>
            <div>
                <span><strong>@Html.DisplayNameFor(model => model.Status)</strong></span>
                <span>@Html.DisplayFor(modelItem => item.Status)</span>
            </div>
            <div>
                <span><strong>@Html.DisplayNameFor(model => model.Response)</strong></span>
                <span>@Html.DisplayFor(modelItem => item.Response)</span>
            </div>
            <div class="line-separator"></div>
        </div>
        }
    </div>
}
else
{
    <p>There is no data to display</p>
}


