@model IEnumerable<PruSignFrontEnd.Models.DeviceLog>

@{
    ViewBag.Title = "Device Logs";
}

<h2>Logs for @ViewBag.SelectedUser</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchText")
        <input type="submit" value="Search" />
    </p>
}
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="list-item">
            <div>
                <span><strong>@Html.DisplayNameFor(model => model.FormattedDate)</strong></span>
                <span>@Html.DisplayFor(modelItem => item.FormattedDate)</span>
            </div>
            <div>
                <span><strong>@Html.DisplayNameFor(model => model.ErrorLocation)</strong></span>
                <span>@Html.DisplayFor(modelItem => item.ErrorLocation)</span>
            </div>
            <div>
                <span><strong>@Html.DisplayNameFor(model => model.Message)</strong></span>
                <span>@Html.DisplayFor(modelItem => item.Message)</span>
            </div>
            <p><strong>@Html.DisplayNameFor(model => model.StackTrace)</strong>
            </p>
            <p>@Html.DisplayFor(modelItem => item.StackTrace)</p>
            <div class="line-separator"></div>
        </div>
    }
}
else
{
    <p>There is no data to display</p>
}

